.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  padding: 0 2rem;
}

.form-box {
  border: 2px solid #5b14b8;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 210px;
}

.input-login {
  color: aliceblue;
  background-color: #00939d00;
  border-bottom: 2px solid #5b14b8;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: 0 0 0 0;
  border: 1 none;
  outline: 0;
  font-size: 20px;
}

.button-login {
  color: #9bacac;
  transition: all 0.5s;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  width: 6em;
}

.button-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #00939d00;
  transition: all 0.3s;
}

.button-login:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.button-login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #5b14b8;
  transform: scale(1.2, 1.2);
}

.button-login:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
